extends base.pug

block style
    link(rel="stylesheet", href="../static/contact.css")
    link(rel="stylesheet",media="screen and (max-width:1330px)" href="../static/contact_Phone.css")


block content
    section#contact
        div.container
            h1 Contact Us 
            form(action='/contact' method="post") 
                input(type="text" name="name" id="name" placeholder="Enter Your Name" required)
                input(type="email" name ="email" id="email" placeholder="Enter Your Email-id" required)
                input(type="number" name="number" id="phone" placeholder="Enter Your Phone number" required)
                input(type="text" name="gender" id="gender" placeholder="Enter Your Gender" required)
                input(type="text" name="address" id="address" placeholder="Enter Your Address" required)
                button(type="submit" id="btn") 
                    | Submit