extends base.pug
 
block style
    link(rel="stylesheet", href="../static/style.css")
    link(rel="stylesheet",media="screen and (max-width:1330px)" href="../static/phone.css")

block content
    section#intro
        div#head Welcome to Nitrro Kola Academy
        div#para All kind of Dance Catagories are teaches are.

    section#misson
        h2 Our Misson
        div#cardsection
            div.card
                h3 Follow Your Passion 
                div.part
                    img(src='/static/Our Misson img/sd-1.png')
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, incidunt!
            div.card
                h3 Dance for Fit
                div.part
                    img(src='/static/Our Misson img/sd-2.png')
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, incidunt!
            div.card
                h3 Dance for Everyone 
                div.part
                    img(src='/static/Our Misson img/sd-5.png')
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, incidunt! 
            div.card
                h3 Dance for Happyness
                div.part
                    img(src='/static/Our Misson img/sd-6.png')
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, incidunt!       

    section#sponser
        h2 Our Sponseres
        div.sponser-img
            img(src='/static/Our sponser img/sp-1.png')
            img(src='/static/Our sponser img/sp-2.png')
            img(src='/static/Our sponser img/sp-3.png')
            img(src='/static/Our sponser img/sp-4.png')
            img(src='/static/Our sponser img/sp-5.png')
            img(src='/static/Our sponser img/sp-6.png')
